.button {
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #fff;
}

.primary {
    background-color: #7159c1;
}

.secondary {
    background-color: transparent;
    border: 1px solid #7159c1;
    color: #7159c1;
}

.success {
    background-color: #00b300;
}